body{
    font-family: 'main';
}

h1{
    font-size: 46px;
}

h2{
    font-size: 26px;
}

h2 a{
    text-decoration: none;
}

.continue{
    width: 930px;
    height: 164px;
    font-family: 'main';
    font-size: 60px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    margin-top: 150px;
    margin-bottom: 40px;
}

.continue:hover{
    box-shadow: 0px 5px 8px #efc100, 0px 15px 0px #ec0333;
    transition: 0.2s;
}

@media (max-width:1275px){
    .continue{
        margin-top: 60px;
        width: 830px;
    }
}

@media (max-width:1075px){
    .continue{
        width: 720px;
        height: 134px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    h1{
        font-size: 42px;
    }
}

@media (max-width:875px){
    .continue{
        width: 670px;
        height: 134px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    h1{
        font-size: 36px;
    }
}

@media (max-width:735px){
    .continue{
        width: 470px;
        height: 110px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 40px;
    }
    
    h1{
        font-size: 32px;
    }
}

@media (max-width:496px){
    .continue{
        width: 270px;
        height: 80px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 30px;
    }
    h1{
        font-size: 25px;
    }
    
    h2{
        font-size: 20px;
    }
}

@media (max-width:362px){
    .continue{
        width: 170px;
        height: 70px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 20px;
    }
    h1{
        font-size: 20px;
    }
    
    h2{
        font-size: 16px;
    }
}

@media (max-width:295px){
    .continue{
        width: 80px;
        height: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 10px;
    }
    h1{
        font-size: 12px;
    }
    
    h2{
        font-size: 10px;
    }
}