.container{
    margin-top: 90px;
    width: 1670px;
    margin-left: 80px;
    margin-right: 80px;
}

.circle {
    background-color: #bbb;
    border-radius: 50%;
    background: linear-gradient(0deg, #efc100, #ec0333);
    transition: 0.5s;
}

.container{
    margin-top: 90px;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

.indextxt{
    font-size: 105px;
    float: left;
    margin-top: 45px;
    margin-left: 80px;
}

.digitaltxt{
    background: linear-gradient(303deg, #d38400, #f70034);
    font-family: 'mcgeo';
    letter-spacing: 45px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.start{
    width: 600px;
    height: 1005px;
    background: linear-gradient(122deg, #d38400, #f70034);
    float: right;
    cursor: pointer;
}

.start:hover{
    background: linear-gradient(303deg, #d38400, #f70034);
    content: "მოგზაურობის დაწყება";
    transition: 0.5s; 
}

.startarrow{
    margin-top:400px;
}

.j4{
    height: 50px;
    width: auto;
    filter: invert(100%) sepia(78%) saturate(3234%) hue-rotate(204deg) brightness(147%) contrast(120%);
    float: right;
    margin: 25px 15px 0px 0px;
}

.animate__fadeIn{
    animation-duration: 0.8s;
}

@media only screen and (min-width: 400px) {
    .startarrow{
        display: none;
    }
    .j4{
        height: 50px;
        margin-left: -65px;
    }
    .container{
        width: 1000px;
    }
    .indextxt {
        margin-top: 0px;
        margin-left: 30px;
        margin-right: 15px;
    }
    .c1 {
        width: 250px;
        height: 250px;
        margin: 705px 0px 0px -125px;
    }
    .c2{
        width: 150px;
        height: 150px;
        margin: -32px 0px 0px 180px;
    }
    .c3 {
        height: 190px;
        width: 190px;
        border-radius: 50%;
        margin: -287px 0px 0px 416px;
    }
    .c4 {
        height: 400px;
        width: 200px;
        border-radius: 200px 0px 0px 200px;
        margin: -308px 0px 0px 780px;
    }
    .start {
        width: 100%;
        height: 290px;
        background: linear-gradient(120.7deg, #efc100, #ec0333);
        position: absolute;
        bottom: 0px;
    }
    .starttxt{
        display: block;
        color: white;
        font-family: 'main', sans-serif;
        font-size: 60px;
        line-height: 200px;
    }
}

@media only screen and (min-width: 1200px) {
    .startarrow{
        display: block;
    }
    .container{
        width: 1000px;
    }
    .indextxt {
        margin-top: 45px;
        margin-left: 30px;
        margin-right: 15px;
    }
    .c1{
        width: 300px;
        height: 300px;
        margin: -230px 0px 0px -140px;
    }    
    .c2{
        width: 150px;
        height: 150px;
        margin: 385px 0px 0px -135px;
    }
    .c3{
        height: 125px;
        width: 250px;
        border-radius: 125px 125px 0 0;
        margin: 185px 0px 0px 0px;
    }

    .c4{
        height: 150px;
        width: 300px;
        border-radius: 150px 150px 0 0;
        margin: -149px 0px 0px 620px;
    }
    .start {
        width: 600px;
        height: 1005px;
        background: linear-gradient(120.7deg, #efc100, #ec0333);
        position: relative;
        float: right;
        cursor: pointer;
        margin:0;
    }
    .starttxt{
        display: none;
    }
}


