.container{
    margin-top: -50px;
}

.indextxt{
    font-size: 105px;
    float: left;
}

.digitaltxt{
    color: #2F7700;
    font-family: 'mcgeo';
    letter-spacing: 45px;
}

.indeximg{
    width: 680px;
    height: auto;
    float: right;
    margin-top: 80px;
}

.indeximgm{
    display: none;
}

.start{
    width: 930px;
    height: 164px;
    font-family: 'main';
    font-size: 60px;
    color: white;
    background-color: black;
    border: none;
    float: left;
    cursor: pointer;
    margin-bottom: 40px;
}

.start:hover{
    box-shadow: 15px 15px 0px #D3D3D3;
    transition: 0.2s;
}

@media (max-width:1675px){
    .indextxt{
        font-size: 90px;
    }
    .indeximg{
        width: 580px;
        margin-top: 80px;
    }
    .start{
        width: 800px;
        height: 164px;
        font-size: 55px;
    }
}

@media (max-width:1475px){
    .indextxt{
        font-size: 75px;
    }
    .indeximg{
        width: 500px;
        margin-top: 80px;
    }
    .start{
        width: 750px;
        height: 164px;
        font-size: 50px;
    }
}

@media (max-width:1275px){
    .indextxt{
        margin-top: 90px;
        font-size: 60px;
    }
    .indeximg{
        width: 450px;
        margin-top: 80px;
    }
    .start{
        width: 850px;
        height: 200px;
        font-size: 55px;
    }
}

@media (max-width:1075px){
    .indextxt{
        margin-top: 90px;
        font-size: 95px;
        display: inline-block;
    }
    .indeximg{
        display: none;
    }
    .digitaltxt{
        letter-spacing: 30px;
    }

@media (max-width:735px){
    .indextxt{
        margin-top: 90px;
        font-size: 54px;
        display: inline-block;
    }
    .indeximgm{
        display: none;
    }
    .digitaltxt{
        letter-spacing: 30px;
    }
    .start{
        width: 470px;
        height: 124px;
        font-size: 40px;
    }
}

@media (max-width:495px){
    .indextxt{
        width: 270px;
        margin-top: 90px;
        font-size: 30px;
        display: inline-block;
    }
    .digitaltxt{
        letter-spacing: 20px;
    }
    .start{
        width: 270px;
        height: 124px;
        font-size: 25px;
    }
}

@media (max-width:360px){
    .indextxt{
        width: 170px;
        margin-top: 90px;
        font-size: 20px;
        display: inline-block;
    }
    .digitaltxt{
        letter-spacing: 20px;
    }
    .start{
        width: 170px;
        height: 84px;
        font-size: 13px;
    }
}

@media (max-width:250px){
    .indextxt{
        width: 80px;
        margin-top: 90px;
        font-size: 12px;
        display: inline-block;
    }
    .digitaltxt{
        letter-spacing: 5px;
    }
    .start{
        width: 80px;
        height: 25px;
        font-size: 8px;
    }
}
