@font-face {
    font-family: 'main';
    src: url(fonts/mainfont.ttf);
}

@font-face {
    font-family: 'mcgeo';
    src: url(fonts/mcgeo.ttf);
}

@font-face {
    font-family: 'helvetica';
    src: url(fonts/helvetica.ttf);
}

.container{
    margin-top: 90px;
    width: 1670px;
    margin-left: auto;
    margin-right: auto;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: black; 
}

::-webkit-scrollbar-thumb:hover {
  background: #333333; 
}

body{
    margin: 0;
    padding: 0;
}

@media (max-width:1675px){
    .container{
        width: 1470px;
    }
}

@media (max-width:1475px){
    .container{
        width: 1270px;
    }
}

@media (max-width:1275px){
    .container{
        width: 1070px;
    }
}

@media (max-width:1075px){
    .container{
        width: 870px;
    }
}

@media (max-width:875px){
    .container{
        width: 670px;
    }
}

@media (max-width:735px){
    .container{
        width: 470px;
    }
}

@media (max-width:495px){
    .container{
        width: 270px;
    }
}

@media (max-width:360px){
    .container{
        width: 170px;
    }
}

@media (max-width:250px){
    .container{
        width: 80px;
    }
}