.container{
    margin-top: 0;
}

.blank{
    width: 100%;
    background-color: white;
    height: 150px;
}

.head{
    margin-top: 0px;
    background-color: white;
    padding-top: 90px;
    padding-bottom: 25px;
    position: fixed;
}

.gobck{
    width: 45px;
    height: auto;
}

.gobcktxt{
    font-size: 35px;
    color: black;
    text-decoration: none;
    display: inline-block;
    float: left;
}

.gobcktxt:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}

.headtitle{
    float: right;
    margin: 0;
}

.cover{
    width: 924px;
    height: auto;
    display: inline-block;
}

.subject{
    margin-left: 50px;
    width: 600px;
    display: inline-block;
}

.title{
    font-size: 40px;
}

.desc{
    font-size: 22px;
    color: #848484;
}

.colors{
    width: 80px;
    height: 52px;
    background-color: darkgray;
    display: inline-block;
}

.fonts{
    font-family: 'helvetica';
    font-size: 24px;
}

@media(max-width:1650px){
    .cover{
        width: 924px;
    }
    .subject{
        margin-left: 20px;
        width: 520px;
    }
}
@media (max-width:1475px){
    .cover{
        width: 1270px;
    }
    .subject{
        margin-left: 20px;
        width: 1270px;
    }
}

@media (max-width:1322px){
    .cover{
        width: 1070px;
    }
    .subject{
        width: 1070px;
    }
}

@media (max-width:1122px){
    .cover{
        width: 870px;
    }
    .subject{
        width: 870px;
    }
    .head{
        .padding-top: 115px;
    }
    .blank{
        height: 190px;
    }
    .gobcktxt{
        font-size: 48px;
    }
    .gobck{
        width: 55px;
    }
    .headtitle {
        margin-top: 5px;
        font-size: 36px;
    }
}

@media (max-width:922px){
    .cover{
        width: 670px;
    }
    .subject{
        width: 670px;
    }
}

@media (max-width:736px){
    .cover{
        width: 470px;
    }
    .subject{
        width: 470px;
    }
    .headtitle{
        margin-left: 90px;
        float: none;
        font-size: 40px;
        text-decoration: underline;
    }
    .blank{
        height: 230px;
    }
}

@media (max-width:522px){
    .headtitle{
        font-size: 20px;
    }
    .title{
        font-size: 25px;
    }
    .desc{
        font-size: 20px;
    }
    .colors{
        width: 40px;
        height: 25px;
    }
    .cover{
        width: 270px;
    }
    .subject{
        width: 270px;
    }
    .gobcktxt{
        font-size: 30px;
    }
    .blank{
        height: 230px;
    }
}

@media (max-width:362px){
    .cover{
        width: 170px;
    }
    .gobcktxt{
        font-size: 20px;
    }
    .gobck{
        width: 30px;
    }
    .headtitle{
        margin-left: 20px;
        font-size: 25px;
    }
    .subject{
        width: 170px;
    }
    .title{
        font-size: 20px;
    }
    .desc{
        font-size: 12px;
    }
    .colors{
        width: 20px;
        height: 12px;
    }
    .fonts{
        font-size: 12px;
    }
}

@media (max-width:250px){
    .container{
        width: 80px;
    }
}
