body{
    background-image: url("bg/astrex-bg-01.jpg");
    width: 100%;
    margin: 0;
}

.asx-header{
    width: 100%;
    height: 150px;
    background-color: #141414;
    position: fixed;
}

.asx-logo{
    height: 90px;
    width: auto;
    padding: 25px;
    float: left;
}

.asx-j4logo{
    height: 80px;
    width: auto;
    padding: 25px 50px 15px 25px;
    float: right;
    cursor: url(cursors/smooth-x.png), pointer;
}

.asx-brandbook{
    width: 1300px;
    height: auto;
    padding-top: 180px;
}

.asx-downpdf{
    background-color: #96000B;
    color: #141414;
    font-family: 'olney';
    border: none;
    cursor: url(cursors/smooth-x.png), pointer;
    height: 75px;
    width: 250px;
    float: left;
    margin-top: 40px;
    font-size: 22px;
}

.asx-j4logo:hover{
    box-shadow: -10px 25px 0px -20px #D3D3D3;
    transition: 0.2s;
}

.asx-downpdf:hover{
    color: #D3D3D3;
    box-shadow: 0px 5px 0px 0px #D3D3D3;
    transition: 0.2s;
}