@font-face {
    font-family: 'olney';
    src: url(fonts/olney.ttf);
}

@font-face {
    font-family: 'eurostyle';
    src: url(fonts/eurostyle.ttf);
}

@font-face {
    font-family: 'mcgeo';
    src: url(fonts/mcgeo.ttf);
}

@font-face {
    font-family: 'helvetica';
    src: url(fonts/helvetica.ttf);
}

@font-face {
  font-family: 'crystalm';
  src: url(fonts/CrystalM.ttf);
}

@font-face {
  font-family: 'cristalb';
  src: url(fonts/CrystalB.ttf);
}

@font-face {
  font-family: 'crostalmtavb';
  src: url(fonts/CrystalMTB.ttf);
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: black; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #333333; 
  }
  
  ::selection {
      background: #ce9700;
      color: white;
  }

body{
  cursor: url(cursors/mouse.png), text;
  margin: 0;
  padding: 0;
}