.dark-mode{
    background: rgba(0, 0, 0, 0.822);
    color: #EFEFED;
  }

  body{
    color: black;
    background: #EFEFED;
  }

  body.dark-mode{
    color: #EFEFED;
    background: #121212;
  }

  .light-mode{
    background: rgba(255, 255, 255, 0.856);
    color: #000000;
  }

  .dark-mode-logo{
    filter:invert(0%);
  }

  .light-mode-logo{
    filter:invert(100%);
  }

  .dark-mode-darkmode{
      background: rgb(0 0 0 / 45%);
    color: #9e9e9e;
    ;
  }
  .light-mode-darkmode{
    background: rgb(249 249 249 / 45%);
    color: #1b1b1b
  }

  @media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    .content {
      background: rgba(0, 0, 0, 0.822);
      color: #EFEFED;
    }
    .dark-mode-logo{
      filter:invert(0%);
    }
    .content.light-mode {
      background: rgba(255, 255, 255, 0.856);
      color: #000000;
    }
    /**/
    .light-mode-logo{
      filter:invert(100%);
    }
    /**/
    .dark-mode-darkmode{
        background: rgb(0 0 0 / 45%);
        color: #9e9e9e;
      }
    .light-mode-darkmode{
        background: rgb(249 249 249 / 45%);
        color: #1b1b1b;
      }
  }

  body {
    color: rgb(0, 0, 0);
    background-color: #fff;
  }
  body.dark-mode {
    color: #eee;
    background-color: #121212;
  }
  
  @media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
      color: #eee;
      background-color: #121212;
    }
    body.light-mode {
      color: #222;
      background-color: #fff;
    }
  }


  .darkmode{
    outline: none;
    cursor: url(cursors/smooth-x.png), pointer;
  }