/**<footer>
<div class="main">
    <div class="container">
        <a href="#popup1" class="xcf3987">ჩემს შესახებ</a>
        <a href="#" class="xcf3987 r">რეზიუმე</a>
        <br>
        <div class="copyright">
            <p style="color: white;">©2020 All rights reserved<br>Developed By J4vakhishvili</p>
        </div>
        <div class="social">
            <a href="#" target="blank" class="media"><img src="assets/icons/youtube-01.png" class="icon" id="yt"></a>
            <a href="#" target="blank" class="media"><img src="assets/icons/behance-01.png" class="icon" id="bh"></a>
            <a href="#" target="blank" class="media"><img src="assets/icons/dribble-01.png" class="icon" id="dr"></a>
            <a href="#" target="blank" class="media"><img src="assets/icons/instagram-01.png" class="icon" id="ig"></a>
            <a href="#" target="blank" class="media"><img src="assets/icons/facebook-01.png" class="icon" id="fb"></a>
        </div>
    </div>
</div>
</footer>**/

footer{
    margin-top: 40px;
    position: inherit;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: black;
    cursor: url(cursors/mouse.png), default;
}

.container{
    padding-top: 30px;
    width: 1600px;
}

.xcf3987{
  text-decoration: none;
  color: white;
  opacity: 60%;
  font-size: 20px;
  font-family: 'olney', sans-serif;
  cursor: url(cursors/smooth-x.png), pointer;
}

.xcf3987:hover{
  text-decoration: underline;
}

.r{
  float: right;
}

.copyright p {
    font-family: 'olney', sans-serif;
    font-size: 30px;
    display: inline-block;
}

.copyright{
    display: inline-block;
}

.social{
    float: right;
    margin-top: 30px;
}

.icon{
    width: 40px;
    background-color: white;
    padding: 10px;
    cursor: url(cursors/mouse.png), pointer;
}

#yt:hover{
    background-color: rgb(177, 0, 0);
    transition: 0.3s;
    cursor: url(cursors/mouse.png), pointer;
}

#bh:hover{
      background-color: rgb(1 92 255);
      transition: 0.3s;
      cursor: url(cursors/mouse.png), pointer;
}

#dr:hover{
  background-color: rgb(231 77 137);
  transition: 0.3s;
  cursor: url(cursors/mouse.png), pointer;
}

#ig:hover{
  background: linear-gradient(135deg, rgba(247,212,0,1) 0%, rgba(239,13,30,1) 50%, rgba(126,62,177,1) 100%);
  transition: 0.3s;
  cursor: url(cursors/mouse.png), pointer;
}

#fb:hover{
  background: linear-gradient(rgba(25,173,255,1) 0%, rgba(2,98,225,1) 100%);
  transition: 0.3s;
  cursor: url(cursors/mouse.png), pointer;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  color: #333;
  font-family: 'olney';
  border-radius: 30px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #000;
  font-family: 'olney', sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.popup .close:hover {
  color: #d86c06;
}
.popup .popuptext {
  max-height: 30%;
  overflow: auto;
}

@media only screen and (max-width: 1850px){
    .container{
        width: 1400px;
    }
}

@media only screen and (max-width: 1630px){
    .container{
        width: 1200px;
    }
}

@media only screen and (max-width: 1420px){
    .container{
        width: 1060px;
    }
}

@media only screen and (max-width: 1300px){
    .container{
        width: 900px;
    }
}

@media only screen and (max-width: 1200px){
    .container{
        width: 600px;
    }

    footer{
        height: 500px;
    }

    .copyright p{
        font-size: 43px;
    }

    .social{
        float: inherit;
        margin-top: 0;
    }

    .icon{
        width: 65px;
        padding: 15px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 820px){
    .container{
        width: 600px;
    }

    footer{
        height: 500px;
    }

    .copyright p{
        font-size: 43px;
    }

    .social{
        float: inherit;
        margin-top: 0;
    }

    .icon{
        width: 65px;
        padding: 15px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 730px){
    footer{
        height: 300px;
    }
    .container{
        width: 400px;
    }
    .copyright p{
        font-size: 27px;
    }
    .icon {
        width: 45px;
        padding: 15px;
        margin-right: 0;
}

@media only screen and (max-width: 530px){
    footer{
        margin: 0;
        height: 260px;
    }
    .container{
        width: 300px;
    }
    .copyright p{
        font-size: 20px;
    }
    .icon {
        width: 35px;
        padding: 10px;
        margin-right: 0;
}

@media only screen and (max-width: 450px){
    .container{
        width: 300px;
    }

    footer{
        margin: 0;
        height: 250px;
    }

    .copyright p{
        font-size: 20px;
    }

    .social{
        float: inherit;
        margin-top: 0;
    }

    .icon{
        width: 35px;
        padding: 10px;
        margin-right: 0px;
        cursor: url(cursors/smooth-x.png), pointer;
    }

    .xcf3987{
        font-size: 12px;
    }

    .popup {
        width: 70%;
        z-index: 99;
    }
}

@media only screen and (max-width: 360px){
    .container{
        width: 320px;
    }

    footer{
        margin: 0;
        height: 250px;
    }

    .copyright p{
        font-size: 22px;
    }

    .social{
        float: inherit;
        margin-top: 0;
    }

    .icon{
        width: 40px;
        padding: 10px;
        margin-right: 0px;
    }

    .xcf3987{
        font-size: 12px;
    }

    .popup {
        width: 70%;
        z-index: 99;
    }
}

@media only screen and (max-width: 350px){
    .container{
        width: 270px;
    }

    footer{
        margin: 0;
        height: 220px;
    }

    .copyright p{
        font-size: 19px;
    }

    .social{
        float: inherit;
        margin-top: 0;
    }

    .icon{
        width: 30px;
        padding: 10px;
        margin-right: 0px;
    }

    .xcf3987{
        font-size: 12px;
    }

    .popup {
        width: 70%;
        z-index: 99;
    }
}

/**
<div id="popup1" class="overlay">
            <div class="blank"></div>
            <div class="popup">
                <h2>ვინ ვარ მე?</h2>
                <a class="close" href="#">&times;</a>
                <div class="popuptext">
                    მინდა მცირე ინფორმაცია მოგაწოდო ჩემს შესახებ, ჩემი სახელია ნიკოლოზ ჯავახიშვილი, ვარ გრაფიკული დიზაინერი და ფოტოგრაფი, ცოდნას დავეუფლე IT Step Academy-ში და ახლა ვიწყებ ფეხის ადგმას ჩემს საყვარელ პროფესიაში =)
                </div>
            </div>
        </div>

<footer>
<div class="main">
    <div class="container">
        <a href="#popup1" class="xcf3987">ჩემს შესახებ</a>
        <a href="#" class="xcf3987 r">რეზიუმე</a>
        <br>
        <div class="copyright">
            <p style="color: white;">©2020 All rights reserved<br>Developed By J4vakhishvili</p>
        </div>
        <div class="social">
            <a href="#" target="blank" class="media"><img src="assets/icons/youtube-01.png" class="icon" id="yt"></a>
            <a href="#" target="blank" class="media"><img src="assets/icons/behance-01.png" class="icon" id="bh"></a>
            <a href="#" target="blank" class="media"><img src="assets/icons/dribble-01.png" class="icon" id="dr"></a>
            <a href="#" target="blank" class="media"><img src="assets/icons/instagram-01.png" class="icon" id="ig"></a>
            <a href="#" target="blank" class="media"><img src="assets/icons/facebook-01.png" class="icon" id="fb"></a>
        </div>
    </div>
</div>
</footer>
**/