.capsule{
    background: url("assets/media/illustrations/capsule-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.ballon{
    background: url("assets/media/illustrations/ballon.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.bird{
    background: url("assets/media/illustrations/bird-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.may26{
    background: url("assets/media/illustrations/26may.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.tbilisi{
    background: url("assets/media/illustrations/00 01-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.ret1{
    background: url("assets/media/illustrations/retro-01-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.ret2{
    background: url("assets/media/illustrations/retro-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.ret3{
    background: url("assets/media/illustrations/retro-03-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.gfoods{
    background: url("assets/media/illustrations/food-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.potato{
    background: url("assets/media/illustrations/Potatofy-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.egirl{
    background: url("assets/media/illustrations/egirl-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.skull{
    background: url("assets/media/illustrations/skull-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.nike{
    background: url("assets/media/illustrations/nike-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.porche{
    background: url("assets/media/illustrations/papercut-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}