.khinkali{
    background: url("assets/media/photoshop/khinkali.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.poster{
    background: url("assets/media/photoshop/bm-poster.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.astrochess{
    background: url("assets/media/photoshop/a4strochess.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.diamond{
    background: url("assets/media/photoshop/khrustal.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.pinkgurl{
    background: url("assets/media/photoshop/pink\ gurl.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.manipulation{
    background: url("assets/media/photoshop/girl-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.pixartgurl{
    background: url("assets/media/photoshop/girl\ pixelart.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.animegeo{
    background: url("assets/media/photoshop/georgiananime.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.ps{
    background: url("assets/media/photoshop/Photoshop.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.cosmos{
    background: url("assets/media/photoshop/Cosmos.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.drawing{
    background: url("assets/media/photoshop/girl drawing.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.runergif{
    background: url("assets/media/photoshop/darknes runner.gif");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.jp{
    background: url("assets/media/photoshop/JAPAN.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
    border: 1px solid #d3d3d3;
}

.porche{
    background: url("assets/media/photoshop/Porche-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}