.ntb{
    background: url("assets/media/photography/night tbilisi-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.pb{
    background: url("assets/media/photography/bridge-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.underground{
    background: url("assets/media/photography/underground-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.tbv{
    background: url("assets/media/photography/tbilisi view-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.tbsea{
    background: url("assets/media/photography/tbilisi sea-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.horse{
    background: url("assets/media/photography/horse-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}
.doggo{
    background: url("assets/media/photography/doggo-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}
.dog{
    background: url("assets/media/photography/lady-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.ret{
    background: url("assets/media/photography/retro.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.gm{
    background: url("assets/media/photography/man-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.mp{
    background: url("assets/media/photography/mopeds-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.tree{
    background: url("assets/media/photography/20200328_173014-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}