.welcome{
    background: url(assets/images/photography/IMG_3550.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.goldman{
    background: url(assets/images/photography/6.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.grovecar{
    background: url(assets/images/photography/2.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.cat{
    background: url(assets/images/photography/3.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.night-mopeds{
    background: url(assets/images/photography/+.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.moped{
    background: url(assets/images/photography/IMG_3504.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.bmw{
    background: url(assets/images/photography/IMG_3494.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.lady{
    background: url(assets/images/photography/20200317_101212.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.tree{
    background: url(assets/images/photography/20200806144627_IMG_2639.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.river{
    background: url(assets/images/photography/20200806174101_IMG_2795.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.redporche{
    background: url(assets/images/photography/IMG_3858.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.grayporche{
    background: url(assets/images/photography/IMG_3542.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.blackporche{
    background: url(assets/images/photography/IMG_3909.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.orangeporche{
    background: url(assets/images/photography/IMG_4003.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.blueporche{
    background: url(assets/images/photography/IMG_4337.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.porcherace{
    background: url(assets/images/photography/IMG_4321.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.marjanishvili{
    background: url(assets/images/photography/80019162_2232921170342227_4879921852937404416_o.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.tbilisiview{
    background: url(assets/images/photography/tbilisi\ view-01.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.oldmercedec{
    background: url(assets/images/photography/IMG_3899.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.redmercedec{
    background: url(assets/images/photography/IMG_4135.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.newmercedec{
    background: url(assets/images/photography/IMG_4183.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.mustang{
    background: url(assets/images/photography/IMG_3916.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.mustangxredoldcar{
    background: url(assets/images/photography/IMG_4013.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.oldcarone{
    background: url(assets/images/photography/IMG_3922.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.oldcartwo{
    background: url(assets/images/photography/IMG_3929.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.sportcar{
    background: url(assets/images/photography/IMG_4066.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.horse{
    background: url(assets/images/photography/IMG_2457.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.doggo{
    background: url(assets/images/photography/20200822180754_IMG_2868.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.peacebridge{
    background: url(assets/images/photography/bridge-01.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.tbilisiseapark{
    background: url(assets/images/photography/tbilisi\ sea-01.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.nighttbilisi{
    background: url(assets/images/photography/night\ tbilisi-01.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.newyearincity{
    background: url(assets/images/photography/20191226184559_IMG_0370.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.underground{
    background: url(assets/images/photography/5.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.newyearcitytree{
    background: url(assets/images/photography/20191226191534_IMG_0427.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.japansecarone{
    background: url(assets/images/photography/IMG_4043.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.japansecartwo{
    background: url(assets/images/photography/IMG_4149.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.bmwdrift{
    background: url(assets/images/photography/IMG_3960.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.bmwi8{
    background: url(assets/images/photography/IMG_4329.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.bmwbluelivery{
    background: url(assets/images/photography/IMG_4130.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.bmwwhitelivery{
    background: url(assets/images/photography/IMG_4162.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.monstertruck{
    background: url(assets/images/photography/IMG_3907.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.monstertruckinside{
    background: url(assets/images/photography/IMG_4025.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.whiteussrcar{
    background: url(assets/images/photography/IMG_3579.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.whiteussrcarinside{
    background: url(assets/images/photography/IMG_3644.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.whiteussrcartwo{
    background: url(assets/images/photography/IMG_3774.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.oldford{
    background: url(assets/images/photography/IMG_3654.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.whiteussrcarback{
    background: url(assets/images/photography/IMG_3758.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.carlogodeer{
    background: url(assets/images/photography/IMG_3688.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.oldbike{
    background: url(assets/images/photography/IMG_3508.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.tbilisismast{
    background: url(assets/images/photography/20200826194416_IMG_3191.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.viewfrompeacebridge{
    background: url(assets/images/photography/20200825200325_IMG_3068.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.viewfrombridge{
    background: url(assets/images/photography/20200826194428_IMG_3194.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.rails{
    background: url(assets/images/photography/IMG_2415.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.villageroad{
    background: url(assets/images/photography/IMG_2432.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.birdhouse{
    background: url(assets/images/photography/20191229163846_IMG_0604.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

.cherrytree{
    background: url(assets/images/photography/20200328171730_IMG_1749.jpg);
    background-size: cover;
    background-position: 50% 50%;
}