.headtitle{
    font-family: 'olney', sans-serif;
    display:  inline;
    font-size: 44px;
    padding: 40px;
    line-height: 125px;
}

.gobck{
    height: 22px;
    padding: 16px 10px 16px 10px;
    border-radius: 15px;
    filter: invert(100%);
    background: #31313114;
    margin-top: 40px;
    float: left;
    cursor: url(cursors/smooth-x.png), pointer;
}

.gobck:hover{
    background: #3131312b;
    transition: 0.3s;
}

header{
    background: black;
    width: 100%;
    height: 140px;
    position: fixed;
}

.alg{
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.darkmode{
    float: right;
    margin-top: 40px;
}

.dmico{
    width: 60px;
}

.homebtn{
    width: 50px;
    float: right;
    margin-top: 40px;
    margin-right: 20px;
    cursor: url(cursors/smooth-x.png), pointer;
}

.preview{
    width: 770px;
    height: 475px;
    margin-bottom: 60px;
    border-radius: 30px;
    background: url(cards/brandbook.png);
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.khinkali{
    background: url(http://j4va.tk/assets/photoshop/khinkali.jpg);
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.nigga{
    background: url(http://j4va.tk/assets/photoshop/bm-poster.jpg);
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.diamons{
    background: url(http://j4va.tk/assets/photoshop/khrustal.jpg);
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.photoshop{
    background: url(http://j4va.tk/assets/photoshop/Photoshop.jpg);
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.blank{
    display: block;
    height: 180px;
}

.blank2{
    display: none;
}

@media only screen and (max-width: 1850px){
    .alg{
        width: 1600px;
    }
    .preview{
        width: 770px;
        height: 450px;
    }
    .container{
        width: 1600px;
    }
}

@media only screen and (max-width: 1680px){
    .alg{
        width: 1400px;
    }
    .preview{
        width: 670px;
        height: 400px;
    }
    .container{
        width: 1400px;
    }
}

@media only screen and (max-width: 1420px){
    .alg{
        width: 1200px;
    }
    .preview{
        width: 570px;
        height: 400px;
    }
    .container{
        width: 1200px;
    }
}

@media only screen and (max-width: 1300px){
    .alg{
        width: 1100px;
    }
    .preview{
        width: 520px;
        height: 380px;
    }
    .container{
        width: 1100px;
    }
}

@media only screen and (max-width: 1200px){
    .alg{
        width: 1000px;
    }
    .preview{
        width: 480px;
        height: 360px;
    }
    .container{
        width: 1000px;
    }
    .copyright p{
        font-size: 30px;
    }
    .social{
        float: right;
        margin-top: 20px;
    }
    .icon{
        width: 52px;
        margin-left: 5px;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 1080px){
    .alg{
        width: 600px;
    }
    .preview{
        width: 600px;
        height: 400px;
    }
    .container{
        width: 600px;
    }
    .copyright p{
        font-size: 41.4px;
    }
    .social{
        float: inherit;
    }
    .icon{
        width: 70px;
        margin-left: 0px;
        margin-right: 15px;
    }
    footer{
        bottom: unset;
        position: absolute;
    }
    .blank2{
        display: block;
        height: 440px;
    }
}

@media only screen and (max-width: 730px){
    .alg{
        width: 500px;
    }
    .preview{
        width: 500px;
        height: 400px;
    }
    .container{
        width: 500px;
    }
    .headtitle{
        font-size: 35px;
        padding: 20px;
    }
    .copyright p {
        font-size: 34.7px;
    }
    .icon {
        width: 60px;
        margin-left: 0px;
        margin-right: 6px;
    }
    .social{
        margin-top: 15px;
    }
    footer{
        height: 350px;
    }
}

@media only screen and (max-width: 530px){
    .alg{
        width: 400px;
    }
    .preview{
        width: 400px;
        height: 250px;
    }
    .container{
        width: 400px;
    }
    .headtitle{
        font-size: 30px;
        padding: 5px;
    }
    .darkmode img{
        width: 40px;
    }

    .homebtn{
        width: 35px;
    }
    .copyright p {
        font-size: 27.8px;
    }
    .icon {
        width: 50px;
        margin-right: 5px;
    }
    .blank2{
        height: 280px;
    }
    footer{
        height: 350px;
    }
}

@media only screen and (max-width: 450px){
    .alg{
        width: 300px;
    }
    .preview{
        width: 300px;
        height: 180px;
        border-radius: 20px;
        margin-bottom: 15px;
    }
    .container{
        width: 300px;
    }
    .copyright p {
        font-size: 20.8px;
    }
    .icon {
        width: 36px;
        padding: 10px;
        margin-right: 0px;
    }
    footer{
        height: 280px;
    }
    .gobck {
        height: 15px;
        padding: 15px 10px 15px 10px;
        margin-top: 25px;
    }
    .headtitle {
        font-size: 20px;
        padding: 5px;
        line-height: 95px;
    }
    .darkmode img{
        width: 30px;
        margin-top: -8px;
    }
    .dmico{
        width: 30px;
    }
    .homebtn{
        width: 30px;
        margin-right: 2px;
        margin-top: 35px;
    }

    header{
        height: 100px;
    }

    .blank{
        height: 120px;
    }
    .blank2{
        height: 200px;
    }
}

@media only screen and (max-width: 350px){
    .alg{
        width: 200px;
    }
    .preview{
        width: 200px;
        height: 140px;
    }
    .container{
        width: 200px;
    }
    .headtitle{
        font-size: 25px;
    }
    .gobck{
        margin-top: -20px;
    }
    .homebtn{
        margin-top: -16px;
    }
    .darkmode{
        margin-top: -9px;
    }
    .blank{
        height: 170px;
    }
    header{
        height: 150px;
    }
    .blank2{
        height: 160px;
    }
    .copyright p {
        font-size: 13.9px;
    }
    .icon {
        width: 26px;
        padding: 5px;
        margin-right: 0;
    }
    .social{
        margin-top: 10px;
    }
    footer{
        height: 190px;
    }
}