.tsifruli-patern{
    background: url(assets/images/projects/tsifruli/patern.svg);
}

.cardsbg{
    background: url(assets/images/projects/playingcards/cardsbg.jpg);
}

.khinkalibg{
    background: url(assets/images/postcovers/khinkalibg.jpg);
}

.winebg{
    background: url(assets/images/postcovers/winetiesbg.jpg);
}

.chessbg{
    background: url(assets/images/postcovers/chessbg.jpg);
}

.may26bg{
    background: #ff8d8d;
}

.posterbg{
    background: #db003a;
}

.psbg{
    background: url(assets/images/postcovers/psbg.jpg);
}

.jpbg{
    background: #f3142f;
}

.porchebg{
    background: url(assets/images/postcovers/porchebg.jpg);
}

.ballonbg{
    background: url(assets/images/postcovers/airballoonbg.jpg);
}

.capsulebg{
    background: url(assets/images/postcovers/capsulebg.jpg);
}

.potatobg{
    background: url(assets/images/postcovers/potatobg.jpg);
}

.nikebg{
    background: linear-gradient(45deg, #fe01ce, #03fadb);
}

.deloreanbg{
    background: url(assets/images/postcovers/deloreanbg.jpg);
}

.astrexbg{
    background: url(assets/images/projects/astrex/astrex-bg-01.jpg);
}