.resume{
    width: 48%;
    border-radius: 50px;
    display: inline-block;
    cursor: url(cursors/smooth-x.png), pointer;
}

@media only screen and (max-width: 1080px){
    .resume{
        width: 100%;
        border-radius: 25px;
    }
    .r{
        float: none;
        margin-top: 25px;
        margin-bottom: 10px;
    }
}

.blank2{
    height: 80px;
}